[submodule "vendor/glm"]
    path = vendor/glm
    url = https://github.com/g-truc/glm.git
[submodule "vendor/assimp"]
	path = vendor/assimp
	url = https://github.com/assimp/assimp.git
[submodule "vendor/JoltPhysics"]
	path = vendor/JoltPhysics
	url = https://github.com/jrouwe/JoltPhysics.git
[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "vendor/entt"]
	path = vendor/entt
	url = https://github.com/skypjack/entt.git
