[submodule "dep/glm"]
    path = dep/glm
    url = https://github.com/g-truc/glm.git
[submodule "dep/assimp"]
	path = dep/assimp
	url = https://github.com/assimp/assimp.git
[submodule "dep/JoltPhysics"]
	path = dep/JoltPhysics
	url = https://github.com/jrouwe/JoltPhysics.git
[submodule "dep/imgui"]
	path = dep/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "dep/entt"]
	path = dep/entt
	url = https://github.com/skypjack/entt.git
